

  <div class="navbar-fixed-bottom">
    <footer class="footer">
  <small>
    <a href="#">Prototype App</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",  about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="#">Just A Link</a></li>
    </ul>
  </nav>

    </footer>
</div>


